* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 44px;
  font-weight: 400;
  color: #6b6e70;
  margin-bottom: 20px;
  text-align: center;
}

.cont {
  margin-left: 50%;
}
